@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .table td, .table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #ddd;
        }

        .table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #1D4477;
            color: white;
        }
</style>

<div class="text-center">
    <form method="post">

        <table>
            <tr>
                <td style="width:200px">Fehlermeldung:</td>
                <td style="width:200px"><input name="Message" id="txtMessage" type="text" value="@ViewData["message"]?.ToString()" /></td>
                <td style="width:200px">Standort:</td>
                <td style="width:100px">
                    <select id="StandortId" name="Standort">
                        @foreach (string standort in Model.Standorte)
                        {
                            if ( ViewData["standort"] != null && ViewData["standort"].ToString() == standort)
                            {
                        <option value="@standort" selected>@standort</option>
                            }
                            else
                            {
                        <option value="@standort">@standort</option>
                            }
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td style="width:200px">Datum:</td>
                <td style="width:200px"><input name="Date" id="txtDate" type="text" value="@ViewData["date"]?.ToString()" /></td>

                <td style="width:100px"></td>
                <td style="width:200px"><input id="btnSearch" type="submit" value="Search" asp-page-handler="Search" /></td>
            </tr>
        </table>
        <div>
            @ViewData["error"]?.ToString()

        </div>
        

        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Auswählen
                    </th>
                    <th>
                        Standortwerk
                    </th>
                    <th>
                        KKS
                    </th>
                    <th>
                        KKS Bezeichnung
                    </th>
                    <th>
                        Propability
                    </th>
                    <th>
                        Ereignisbeschreibung
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SAPDataList)
                {
                <tr>
                    <td>
                        <input id="Choose" type="checkbox" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Standortwerk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KKS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KKSBezeichnung)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Propability)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ereignisbeschreibung)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </form>
</div>
